doctype html
html
    head
        title="LOL"
        link(rel="stylesheet", href="https://bootswatch.com/4/sketchy/bootstrap.min.css")
        link(rel="stylesheet", href="/others/styles.css")
        script(src="https://kit.fontawesome.com/180b1ce6e6.js" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
    body(style="background: url('/learnbg3.jpg'); background-size: cover;")
        .videoplayer(style="top: 5%; left: 55%")
            iframe(src='https://www.youtube.com/embed/wyaq_swNStc')
        .videoplayer(style="top: 28%; left: 55%")
            iframe(src='https://www.youtube.com/embed/NJHwXoNU3lo')
        .videoplayer(style="top: 51%; left: 55%")
            iframe(src='https://www.youtube.com/embed/jTq6JnKAaK0')
        .videoplayer(style="top: 74%; left: 55%")
            iframe(src='https://www.youtube.com/embed/q4-VDO_YPjQ')
        h1(style="color: white; font-size: 700%") Antim Sanskar
        p(style="color: white; font-size: 250%")
            | Shit just got real
            br
            | Make this nigga if you so hot:-
        img(src='/respect.jpg' style="position: absolute; top: 45%; width: 50%; height: 50%")
        a.btn.btn-success(href='/users/home' style="position: absolute; left: 80%; width: 20%; top: 10%") Aukaat indeed
        a.btn.btn-secondary(href='/users/learn/intermediate' style="position: absolute; left: 80%; width: 20%; top: 30%") gand fat gayi
        a.btn.btn-primary(href='/users/learn/beginner' style="position: absolute; left: 80%; width: 20%; top: 50%") buri gand fat gayi