extends layout

block content
    .jumbotron
    h1.display-3 Welcome to AnyBodyCanDraw!
    p.lead
        | We draw shit!
    p.lead
        a.btn.btn-primary.btn-lg(href='/users/register' role='button') Register
        a.btn.btn-primary.btn-lg(href='/users/login' role='button') Login
