doctype html
html
    head
        title="LOL"
        link(rel="stylesheet", href="https://bootswatch.com/4/sketchy/bootstrap.min.css")
        script(src="https://kit.fontawesome.com/180b1ce6e6.js" crossorigin="anonymous")
        link(rel="stylesheet", href="/others/styles.css")
        script(src="/others/nav.js")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
    body
        .pillar(style="left: 0; background: url('/beginner.jpg');")
        .pillar(style="left: 33.34%; background: url('/intermediate.jpg');")
        .pillar(style="left: 66.67%; background: url('/expert.jpg');")
    .strike(style="top: 80%;")
        a(href='/users/learn/beginner' style="left: 12%; color: 'black'") Beginner
        a(href='/users/learn/intermediate' style="left: 45.34%; color: #2980B9") Intermediate
        a(href='/users/learn/expert' style="left: 80.68%; color: #F39C12") Expert